<section class="about">
    <h1 class="about-heading">about</h1>
    <div class="about-para_div">
        <p class="about-para">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
            eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
            pretium quis, sem. Nulla consequat massa quis enim
        </p>

        <p class="about-para">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
            eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
            pretium quis, sem. Nulla consequat massa quis enim
        </p>

        <p class="about-para">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget 
            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla 
            consequat massa quis enim Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
        
        <p class="about-para">
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque 
            eu, pretium quis, sem. Nulla consequat massa quis enim
        </p>

        <div class="back-to_home">
            <app-back-to-home></app-back-to-home>
        </div>
    </div>
</section>
