<footer class="page-footer">
    <div class="footer-nav">
        <div class="logo">
            <a class="logo-link" routerLink="/">blog app</a>
        </div>

        <ul class="footer-links">
            <li class="category-item">
                <a routerLink="/about" class="category-link">about</a>
            </li>

            <li class="category-item">
                <a routerLink="/terms-conditions" class="category-link">terms & conditions</a>
            </li>

            <li class="category-item">
                <a routerLink="/contact" class="category-link">contact</a>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <p>
            &copy; {{ currentYear }} Nurudeen Olanrewaju Bada
        </p>
    </div>

</footer>
