<section class="newsletter">
    <div class="newsletter-text">
        <h3>newsletter subscription</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
    </div>

    <form action="">
        <div class="name">
            <input type="text" placeholder="Your Name:" name="name">
        </div>
        
        <div class="email">
            <input type="text" placeholder="Your Email:" name="email">
        </div>

        <button type="submit">subscribe</button>
    </form>
</section>
