<section class="category-header">
    <div class="category-text">
        <h3>fashion</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
    </div>
</section>

<section>
    <div class="featured-post_card latest-post_card" style="margin-top: 50px;">
        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>
    </div>

    <div class="featured-post_card latest-post_card" style="margin-top: 50px;">
        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>
    </div>
</section>

<div class="more-posts">
    <app-more-posts-button></app-more-posts-button>
</div>

<section class="newsletter">
    <app-newsletter></app-newsletter>
</section>
