<section class="featured-post">
    <div class="featured_post-text">
        <h4>featured posts</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque voluptatibus aspernatur 
            quo saepe qui placeat! Suscipit velit saepe reiciendis
        </p>
    </div>

    <div class="featured-post_card">
        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>
    </div>
</section>

<section class="latest-post">
    <div class="latest-post_text">
        <h4>latest posts</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
    </div>

    <div class="featured-post_card latest-post_card">
        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>
    </div>

    <div class="featured-post_card latest-post_card" style="margin-top: 50px;">
        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>

        <div>
            <app-post-card></app-post-card>
        </div>
    </div>
</section>

<div class="more-posts">
    <app-more-posts-button></app-more-posts-button>
</div>

<section class="newsletter">
    <app-newsletter></app-newsletter>
</section>
