<nav class="container-fluid navigation sticky-top">
    <div class="logo">
        <a class="logo-link" href="">blog app</a>
    </div>

    <div class="category">
        <ul class="category-list">
            <li class="category-item">
                <a class="category-link" href="">tech</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">inspiration</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">sports</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">politics</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">fashion</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">Business</a>
            </li>

            <li class="category-item">
                <a class="category-link" href="">facts</a>
            </li>
        </ul>
    </div>
</nav>
