button {
    color: #fff;
    background-color: var(--primary-color);
    width: 180px;
    height: 54px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}