<div class="post-card">
    <figure >
        <img src="../../../../assets/images/tech.jpg" alt="" class="post-card_img">
    </figure>

    <div class="labels-container">
        <div class="label">
            <h4 class="category-label">tech</h4>
        </div>

        <div class="label">
            <h4 class="featured-label">featured</h4>
        </div>

        <div class="label">
            <h4 class="views-label">views 1,500,000</h4>
        </div>
    </div>

    <div class="post">
        <h3 class="post-title">2022 technology industry outlook</h3>
        <p class="post-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis 
            parturient montes semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula
        </p>
    </div>

    <div class="timestamp">
        <h4 class="timestamp-label">last update may 2022</h4>
    </div>
</div>
